@import "mixins";
@import "custom_variables";

.head-page {
	position: absolute;
  padding: 30px 0;
  bottom: 193px;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #5f4c2e;
  @include device_max(large) {
		opacity: .8 !important;
		top: 0;
    height: 55px;
    padding: 0;
	}
	.container {
		@include device_max(large) {
			height: 55px;
		}
	}
  &.header-sticky {
    position: fixed;
    top: 0;
    opacity: 1 !important;
    bottom: auto;
    padding: 0;
    height: 70px;
    opacity: 1;
    animation: sticky-ef .5s ease;
    @include device_max(large) {
	    height: 55px;
		}
    .search-shop-info, .logo-pc, .logo-mobile {
    	display: none;
    }
    .logo-scroll {
    	display: block;
    }
    .head-menu {
    	margin-top: 0;
    	li {
    		.link-parent {
		    	@include device_min(large) {
				    display: block;
		    		line-height: 70px;
					}
    		}
    	}
    }
  }
  .head-top {

	}
	.logo-pc, .logo-mobile {
		img {
			width: 180px;
		}
	}
	.logo-mobile {
		img {
			// width: 90px;
			@include device_max(large) {
				width: 60px;
			}
		}
	}
	.logo-scroll {
		display: none;
		position: absolute;
    left: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
		img {
			width: 55px;
		}
	}
	
}

.search-shop-info {
	margin-left: auto;
	margin-right: 6%;
	a {
		color: #fff;
    font-size: 22px;
    @include device_max(large) {
			font-size: 17px;
		}
	}
	.group-search {
		.input-search {
			height: 32px;
	    width: 227px;
	    color: #fff;
	    font-size: 16px;
	    border-bottom: 1px solid #c7ab7b;
	    @include device_max(large) {
				height: 25px;
		    width: 150px;
		    font-size: 14px;
			}
	    &::placeholder {
			  color: #fff;
			}

			&::-ms-input-placeholder { 
			  color: #fff;
			}

			&::-ms-input-placeholder {
			  color: #fff;
			}
		}
		.btn-search {
			margin-left: -30px;
			@include device_max(large) {
		    margin-left: -25px;
			}
			i{
				color: #fff;
				font-size: 22px;
				@include device_max(large) {
					font-size: 17px;
				}
			}
		}
	}
}

.head-menu {
	margin-top: 35px;
	@include device_max(large) {
		text-align: left;
		margin-top: 0;
	}
	.button-menu-mobile {
		position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s cubic-bezier(1,.01,.29,.93);
    &.active-mb {
    	right: 170px;
    }
		i {
	    font-size: 22px;
  		color: #fff;
  		&:before {
  			margin-left: 0;
  			margin-right: 2%;
  		}
		}
	}
	.head-menu-ul {
		text-align: center;
		&.menu-mobile-show {
			@include device_max(large) {
				right: 0;
			}
		}
		@include device_max(large) {
			text-align: left;
			right: 0;
			position: fixed;
	    background: #1e1e1e;
	    padding: 30px 20px;
	    width: 210px;
	    top: 0;
	    overflow-y: auto;
	    right: -210px;
	    height: 100%;
	    z-index: 9999;
	    transition: all .3s cubic-bezier(1,.01,.29,.93);
		}
		li {
			display: inline-block;
			@include device_max(large) {
				display: block;
		    float: left;
		    width: 100%;
			}
			a {
		    font-size: 16px;
		    color: #fff;
		    padding: 0 14px;
		    @include device_max(large) {
		    	display: block;
					text-align: left;
			    font-size: 14px;
			    line-height: 35px;
			    color: #fff;
			    border-bottom: 1px solid rgba(225,225,225,.1);
				}
		    &:hover {
    	    color: #d0cd80;
		    }
			}
		}
	}
}
.menu-item-has-child {
	position: relative;
	&:hover {
		.sub-menu {
			top: 75px;
	    opacity: 1;
      visibility: visible;
	    @include device_max(large) {
	    	top: 0;
	    	visibility: visible;
			}
		}
	}
	.sub-menu {
		position: absolute;
		opacity: 0;
    visibility: hidden;
		left: 0;
    top: 30px;
		width: 400px;
    padding: 10px;
    transition: all .3s ease;
    background: #fff;
    @include device_max(large) {
    	background: transparent;
			position: static;
    	opacity: 1;
    	width: 100%;
    	padding: 0;
    	display: none;
    	transition: none;
		}
    &:before {
    	content: '';
	    display: block;
	    position: absolute;
	    border: 5px solid transparent;
	    border-bottom-color: #111;
	    left: 50px;
	    top: -10px;
	    @include device_max(large) {
				display: none;
			}
    }
    li {
    	width: 50%;
	    float: left;
      text-align: left;
	    display: block;
	    @include device_max(large) {
				width: 100%;
			}
	    a {
	    	display: block;
	    	color: #000;
        padding: 5px 15px;
		    font-size: 14px;
        border-bottom: 1px solid rgba(225,225,225,.1);
        @include device_max(large) {
					font-size: 12px;
					padding: 0;
					padding-left: 30px;
					color: #fff;
				}
        &:hover {
        	color: #000;
        	text-decoration: underline;
        	@include device_max(large) {
						color: #fff;
					}
        }
	    }
    }
	}
	.submenu-plus {
		cursor: pointer;
    position: absolute;
    right: 0;
    top: 3px;
    @include device_min(large) {
			display: none;
		}
    i {
	    font-size: 18px;
    	color: #fff;
    	display: none;
    	&.icon-plus-circled {
    		display: block;
    	}
    }
    &.submenu-minus {
			.icon-plus-circled {
    		display: none;
    	}
    	.icon-minus-circled {
    		display: block;
    	}
    }
	}
}


@keyframes sticky-ef {
	0% {
    transform: translateY(-100%);
	}
	100% {
    transform: translateY(0);
	}
}