.click-to-shop {
	// margin-bottom: 30px;
	.link-to-shop {
		width: 212px;
		height: 212px;
		background: url(../images/bopflorist_logo2.gif) no-repeat;
		display: inline-block;
		margin-top: -130px;
		position: relative;
		z-index: 9;
	}
}