.lasted-post {
  a {
    &:hover {
      text-decoration: none;
    }
  }
	.section-wrap {
        padding-top: 50px;
    }
}

.latest-post-content {
	[class^="col-"] {
		padding-left: 0 !important;
    padding-right: 0 !important;
	}
}
.item-flower {
  min-height: 0;
  cursor: pointer;
  position: relative;
  margin: 15px 0;
  &:hover {
		.icon {
	    opacity: 1;
	    top: 0;
		}
		.mark {
			height: 100%;
	    opacity: .7;
		}
		.caption {
			background-color: #949c38;
            .big, .lasted-price {
                color: #fff;
            }
		}
    .view {
      transform: rotate(360deg);
    }
	}
	&:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    // border-bottom: 1px solid #c7ab7b;
    // border-bottom: 1px solid #ddd;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 99;
	}
	.image-wrap {
		position: relative;
    height: 285px;
    overflow: hidden;
    img {
    	width: 300px;
	    object-fit: contain;
	    height: 285px;
    }
	}
	.icon {
		position: absolute;
    height: 60px;
    margin: auto;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    opacity: 0;
	}
	.view {
		display: inline-block;
    width: 33px;
    height: 33px;
    border: 3px solid #c7ab7c;
    border-radius: 50%;
    background-color: #fff;
    transition: all .3s linear;
    // &:hover {
    //   transform: rotate(360deg);
    // }
    .icons {
    	font-size: 18px;
	    color: #c7ab7c;
    }
	}
	.mark {
		position: absolute;
    width: 100%;
    height: 60%;
    background-color: #fff;
    opacity: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
	}
	.caption {
    padding: 20px;
    
    .big {
        color: #4c4c4c;
        // color: #6fab06;
    	font-size: 22px;
        margin-bottom: 0;
    	@include device_max(small) {
				font-size: 20px;
			}
      @include device_max(414) {
        font-size: 16px;
      }
      @include device_max(360) {
        font-size: 14px;
      }
    }
    .lasted-price {
    	font-size: 18px;
        color: #ff5151;
        // color: #7bc100;
        // color: #d15176;
    	@include device_max(small) {
				font-size: 16px;
			}
      @include device_max(414) {
        font-size: 15px;
      }
    }
	}
	
}