.pagination {
	ul {
		text-align: center;
		li {
			display: inline-block;
	    margin: 0 3px;

	    &:hover, &.active {
	    	a {
	    		text-decoration: none;
	    		color: #ffffff;
			    background: #5f4c2e;
			    border: 1px solid #5f4c2e;
	    	}
	    }
	    a {
	    	display: block;
		    width: 40px;
		    height: 40px;
		    border: 1px solid #5f4c2e;
		    line-height: 40px;
		    color: #5f4c2e;
		    font-size: 14px;
		    border-radius: 5px;
		    transition: all .3s ease;
	    }
		}
	}
}