.f-open-sans {
  font-family: 'Open Sans';
}
.f-utm-gods-word {
  font-family: 'utm_gods_word';
}
.p-relative {
	position: relative;
}

.awe-background {
  background-size: cover;
  background-repeat: repeat-y;
}