/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.f-open-sans {
  font-family: 'Open Sans';
}
.f-utm-gods-word {
  font-family: 'utm_gods_word';
}

.clearfix:after {
  content: "";
  visibility: hidden;
  display: table;
  clear: both;
}


.container {
  position: relative;
}
.p-relative {
	position: relative;
}

.d-flex {
	display: flex;
}
.d-flex.flex-center {
	justify-content: center;
  align-items: center;
}

.mlr-auto {
  margin-left: auto;
  margin-right: auto;
}

.line-title {
  width: 87px;
  height: 7px;
  background: url(../images/line-pattern-1.png) no-repeat;
  margin: 20px auto 0;
  @include device_min(small) {
		margin: 20px auto 54px;
	}
}
.line-title {
	// margin: 11px auto 20px;
}

.awe-background {
  background-size: cover;
  background-repeat: repeat-y;
}

.hidden-pc {
  @include device_min(large) {
    display: none;
  }
}
.hidden-m {
  @include device_max(large) {
    display: none;
  }
}

// Embed video
.embed-responsive {
	padding-bottom: 56.25%;
  position: relative;
  display: block;
  overflow: hidden;
  .embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
	}
}

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  display: inline-block;
}
.img-circle {
  border-radius: 50%;
}


.linear-3s {
  transition: all .3s linear;
}

.wrap-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: 
  rgba(0,0,0,.3);
  display: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}
a:hover, a:focus {
  text-decoration: none;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}
input[type="submit"]:hover {
  background-color: #333;
  transition: all 0.3s linear 0s;
}


.section-wrap {
  padding-top: 50px;
}