.services {
	.aw-section {
		margin-top: 50px;
	}
	.owl-item {
		&:nth-child(odd) {
			.caption-sv {
				@include device_min(large) {
					top: 0;
				}
			}
		}
		&:nth-child(even) {
			.caption-sv {
				@include device_min(large) {
					bottom: 0;
				}
			}
		}
	}
	.owl-carousel {
		.owl-nav {
			margin-top: 40px;
			.owl-prev, .owl-next {
				font-size: 0;
		    width: 36px;
		    height: 36px;
		    border: 1px solid #c7ab7b;
		    border-radius: 50%;
		    margin: 0 5px;
		    background: url(../images/nav-slide-2.png) no-repeat -8px center;
		    &:hover {
    	    border: 1px solid #373737;
			    background-image: url(../images/nav-slide-1.png);
		    }
			}
			.owl-next {
				background-position: -58px center;
			}
		}
	}
	
}
.list-services {
	margin: 60px 0;
	a {
		text-decoration: none;
	}
}
.item-services {
  position: relative;
	
	.image-sv {
		position: relative;
    text-align: center;
		&:after {
			content: '';
	    display: block;
	    position: absolute;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    border-radius: 50%;
	    border: 1px solid #fff;
	    width: 95%;
	    height: 95%;
	    margin: auto;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    @include device_max(small) {
				display: none;
			}
		}
		img {
			width: 100%;
			// @include device_max(small) {
			// 	width: 70%;
			// }
		}
	}
	.caption-sv {
		line-height: 1;    
		position: absolute;
    left: 0;
    
		@include device_max(large) {
    	left: 50%;
    	transform: translateX(-50%);
			top: 20px;
		}
		@include device_max(small) {
			top: 10px;
		}
		.number-item-sv, .name-item-sv {
			background: #fff;
		}
		.number-item-sv {
			font-size: 25px;
    	color: #c7ab7b;
    	display: inline-block;
    	margin-bottom: 0;
	    padding: 0 12px 10px;
		}
		.name-item-sv {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 22px;
	    padding: 0 12px;
	    line-height: 1.5;
		}
	}
}

