#header {
  position: relative; }

.head-page {
  position: absolute;
  padding: 20px 0;
  bottom: 193px;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #5f4c2e; }
  @media (max-width: 1199px) {
    .head-page {
      opacity: .8 !important;
      top: 0;
      height: 55px;
      padding: 0; } }
  @media (max-width: 1199px) {
    .head-page .container {
      height: 55px; } }
  .head-page.header-sticky {
    position: fixed;
    top: 0;
    opacity: 1 !important;
    bottom: auto;
    padding: 0;
    height: 70px;
    opacity: 1;
    -webkit-animation: sticky-ef .5s ease;
    animation: sticky-ef .5s ease; }
    @media (max-width: 1199px) {
      .head-page.header-sticky {
        height: 55px; } }
    .head-page.header-sticky .search-shop-info, .head-page.header-sticky .logo-pc, .head-page.header-sticky .logo-mobile {
      display: none; }
    .head-page.header-sticky .logo-scroll {
      display: block; }
    .head-page.header-sticky .head-menu {
      margin-top: 0; }
      @media (min-width: 1200px) {
        .head-page.header-sticky .head-menu li .link-parent {
          display: block;
          line-height: 70px; } }
  .head-page .logo-pc img, .head-page .logo-mobile img {
    width: 180px; }
  @media (max-width: 1199px) {
    .head-page .logo-mobile img {
      width: 60px; } }
  .head-page .logo-scroll {
    display: none;
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media (max-width: 1199px) {
      .head-page .logo-scroll {
        left: 5%; } }
    .head-page .logo-scroll img {
      width: 55px; }

.search-shop-info {
  margin-left: auto;
  margin-right: 8%; }
  .search-shop-info a {
    color: #fff;
    font-size: 20px; }
    @media (max-width: 1199px) {
      .search-shop-info a {
        font-size: 17px; } }
  .search-shop-info .group-search .input-search {
    height: 32px;
    width: 227px;
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #fff; }
    @media (max-width: 1199px) {
      .search-shop-info .group-search .input-search {
        height: 25px;
        width: 150px;
        font-size: 14px; } }
    .search-shop-info .group-search .input-search::-webkit-input-placeholder {
      color: #fff; }
    .search-shop-info .group-search .input-search:-ms-input-placeholder {
      color: #fff; }
    .search-shop-info .group-search .input-search::-ms-input-placeholder {
      color: #fff; }
    .search-shop-info .group-search .input-search::placeholder {
      color: #fff; }
    .search-shop-info .group-search .input-search::-ms-input-placeholder {
      color: #fff; }
    .search-shop-info .group-search .input-search::-ms-input-placeholder {
      color: #fff; }
  .search-shop-info .group-search .btn-search {
    margin-left: -30px; }
    @media (max-width: 1199px) {
      .search-shop-info .group-search .btn-search {
        margin-left: -25px; } }
    .search-shop-info .group-search .btn-search i {
      color: #fff;
      font-size: 20px; }
      @media (max-width: 1199px) {
        .search-shop-info .group-search .btn-search i {
          font-size: 17px; } }

.head-menu {
  margin-top: 35px; }
  @media (max-width: 1199px) {
    .head-menu {
      text-align: left;
      margin-top: 0; } }
  .head-menu .button-menu-mobile {
    position: absolute;
    right: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s cubic-bezier(1, 0.01, 0.29, 0.93);
    -o-transition: all 0.3s cubic-bezier(1, 0.01, 0.29, 0.93);
    transition: all 0.3s cubic-bezier(1, 0.01, 0.29, 0.93); }
    .head-menu .button-menu-mobile.active-mb {
      right: 170px; }
    .head-menu .button-menu-mobile i {
      font-size: 22px;
      color: #fff; }
      .head-menu .button-menu-mobile i:before {
        margin-left: 0;
        margin-right: 2%; }
  .head-menu .head-menu-ul {
    text-align: center; }
    @media (max-width: 1199px) {
      .head-menu .head-menu-ul.menu-mobile-show {
        right: 0; } }
    @media (max-width: 1199px) {
      .head-menu .head-menu-ul {
        text-align: left;
        right: 0;
        position: fixed;
        background: #1e1e1e;
        padding: 30px 20px;
        width: 210px;
        top: 0;
        overflow-y: auto;
        right: -210px;
        height: 100%;
        z-index: 9999;
        -webkit-transition: all 0.3s cubic-bezier(1, 0.01, 0.29, 0.93);
        -o-transition: all 0.3s cubic-bezier(1, 0.01, 0.29, 0.93);
        transition: all 0.3s cubic-bezier(1, 0.01, 0.29, 0.93); } }
    .head-menu .head-menu-ul li {
      display: inline-block; }
      @media (max-width: 1199px) {
        .head-menu .head-menu-ul li {
          display: block;
          float: left;
          width: 100%; } }
      .head-menu .head-menu-ul li a {
        font-size: 16px;
        color: #fff;
        padding: 0 14px; }
        @media (max-width: 1199px) {
          .head-menu .head-menu-ul li a {
            display: block;
            text-align: left;
            font-size: 14px;
            line-height: 35px;
            color: #fff;
            border-bottom: 1px solid rgba(225, 225, 225, 0.1); } }
        .head-menu .head-menu-ul li a:hover {
          color: #d0cd80;
          text-decoration: none; }

.menu-item-has-child {
  position: relative; }
  .menu-item-has-child:hover .sub-menu {
    top: 60px;
    opacity: 1;
    visibility: visible; }
    @media (max-width: 1199px) {
      .menu-item-has-child:hover .sub-menu {
        top: 0;
        visibility: visible; } }
  .menu-item-has-child .sub-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 0;
    top: 50px;
    width: 400px;
    padding: 10px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    background: #fff; }
    @media (max-width: 1199px) {
      .menu-item-has-child .sub-menu {
        background: transparent;
        position: static;
        opacity: 1;
        width: 100%;
        padding: 0;
        display: none;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        visibility: visible; } }
    .menu-item-has-child .sub-menu:before {
      content: '';
      display: block;
      position: absolute;
      border: 5px solid transparent;
      border-bottom-color: #fff;
      left: 50px;
      top: -10px; }
      @media (max-width: 1199px) {
        .menu-item-has-child .sub-menu:before {
          display: none; } }
    .menu-item-has-child .sub-menu li {
      width: 50%;
      float: left;
      text-align: left;
      display: block; }
      @media (max-width: 1199px) {
        .menu-item-has-child .sub-menu li {
          width: 100%; } }
      .menu-item-has-child .sub-menu li a {
        display: block;
        color: #000;
        padding: 5px 15px;
        font-size: 14px;
        border-bottom: 1px solid rgba(225, 225, 225, 0.1); }
        @media (max-width: 1199px) {
          .menu-item-has-child .sub-menu li a {
            font-size: 12px;
            padding: 0;
            padding-left: 30px;
            color: #fff; } }
        .menu-item-has-child .sub-menu li a:hover {
          color: #000;
          text-decoration: underline; }
          @media (max-width: 1199px) {
            .menu-item-has-child .sub-menu li a:hover {
              color: #fff; } }
  .menu-item-has-child .submenu-plus {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 3px; }
    @media (min-width: 1200px) {
      .menu-item-has-child .submenu-plus {
        display: none; } }
    .menu-item-has-child .submenu-plus i {
      font-size: 18px;
      color: #fff;
      display: none; }
      .menu-item-has-child .submenu-plus i.icon-plus-circled {
        display: block; }
    .menu-item-has-child .submenu-plus.submenu-minus .icon-plus-circled {
      display: none; }
    .menu-item-has-child .submenu-plus.submenu-minus .icon-minus-circled {
      display: block; }

@-webkit-keyframes sticky-ef {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes sticky-ef {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

#footer .widget-footer {
  margin-top: 20px; }

#footer .title-widget {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700; }

#footer .footer-top {
  background: #f6f6f6;
  padding-top: 60px;
  padding-bottom: 60px; }

#footer .footer-bottom {
  background: #f1f1f1;
  padding: 20px 0; }
  #footer .footer-bottom p {
    color: #403f3f;
    margin-bottom: 0; }

.footer-subscribe .footer-logo {
  margin-bottom: 20px; }
  .footer-subscribe .footer-logo img {
    width: 120px; }

.footer-subscribe .footer-newsletter {
  margin-top: 18px; }
  .footer-subscribe .footer-newsletter .text-newsletter {
    width: 100%;
    max-width: 300px;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    background-color: transparent;
    font-size: 15px; }
  .footer-subscribe .footer-newsletter .btn-register {
    padding: 6px 20px;
    border: none;
    background: #c7ab7b;
    color: #ffffff;
    margin-top: 12px;
    font-size: 18px;
    font-family: 'utm_gods_word';
    display: block; }

.footer-contact .list-footer-contact li {
  margin-bottom: 10px; }

.footer-contact .list-footer-contact label {
  font-weight: 600;
  display: block; }

#scrollUp {
  cursor: pointer;
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #c7ab7b;
  border: 3px solid #eeeeee;
  color: #ffffff;
  right: 30px;
  bottom: 60px;
  text-align: center;
  overflow: hidden;
  border-radius: 50px;
  z-index: 999;
  display: none; }
  @media (max-width: 767px) {
    #scrollUp {
      right: 3%; } }
  #scrollUp i {
    font-size: 16px;
    display: block;
    line-height: 30px; }
  #scrollUp.active {
    display: block; }
  #scrollUp:hover i {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

.f-open-sans {
  font-family: 'Open Sans'; }

.f-utm-gods-word {
  font-family: 'utm_gods_word'; }

.clearfix:after {
  content: "";
  visibility: hidden;
  display: table;
  clear: both; }

.a100 {
  display: block;
  width: 100%;
  height: 100%; }

.container {
  position: relative; }

.p-relative {
  position: relative; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-flex.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.d-flex.jus-cont-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.mlr-auto {
  margin-left: auto;
  margin-right: auto; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.line-title {
  width: 87px;
  height: 7px;
  background: url(../images/line-pattern-1.png) no-repeat;
  margin: 20px auto 0; }
  @media (min-width: 768px) {
    .line-title {
      margin: 20px auto 54px; } }

.awe-background {
  background-size: cover;
  background-repeat: repeat-y; }

@media (min-width: 1200px) {
  .hidden-pc {
    display: none; } }

@media (max-width: 1199px) {
  .hidden-m {
    display: none; } }

.embed-responsive {
  padding-bottom: 56.25%;
  position: relative;
  display: block;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  display: inline-block; }

.img-circle {
  border-radius: 50%; }

.linear-3s {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear; }

.wrap-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  cursor: pointer; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

a:hover, a:focus {
  text-decoration: none; }

input, button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent; }

input[type="number"], input[type="email"], input[type="password"], input[type="text"], input[type="tel"] {
  border: 1px solid #c7ab7b;
  color: #373737;
  font-size: 17px;
  padding: 0 12px;
  height: 46px; }

input[type="submit"]:hover, button.submit:hover {
  background-color: #333;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s; }

button.submit {
  display: inline-block;
  min-width: 197px;
  height: 46px;
  padding: 0 15px;
  font-family: 'utm_gods_word';
  font-size: 16px;
  font-style: italic;
  line-height: 46px;
  color: #fff;
  background-color: #c7ab7b;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal; }

.section-wrap {
  padding-top: 70px; }
  @media (max-width: 767px) {
    .section-wrap {
      padding-top: 0; } }

.wrap-bottom {
  margin-bottom: 30px; }

.btn-more {
  margin: 30px auto;
  display: block;
  width: 100%;
  background: #c7ab7c;
  text-transform: inherit;
  font-size: 18px; }
  .btn-more:hover {
    background: #373737; }
  @media (min-width: 480px) {
    .btn-more {
      width: 170px; } }
  .btn-more a {
    color: #fff; }
    .btn-more a:hover {
      text-decoration: underline; }

a:hover {
  text-decoration: underline; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.line-section {
  width: 100%;
  height: 5px;
  background: #fff url(../images/line-section.png) repeat-x; }

.banner-slider {
  position: relative; }
  .banner-slider .owl-carousel .owl-nav button.owl-next, .banner-slider .owl-carousel .owl-nav button.owl-prev, .banner-slider .owl-carousel button.owl-dot {
    background: #fff url("../images/nav-slide-1.png") no-repeat left center; }
  .banner-slider .owl-nav {
    position: absolute;
    z-index: 100;
    right: 40px;
    bottom: 40px; }
    @media (max-width: 767px) {
      .banner-slider .owl-nav {
        bottom: 203px;
        right: 92px; } }
    .banner-slider .owl-nav button {
      -webkit-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear;
      float: left;
      width: 50px;
      height: 50px;
      font-size: 0;
      border-radius: 0 !important;
      margin: 0 1px !important; }
      .banner-slider .owl-nav button:hover {
        background-color: #5f4c2e !important;
        background-image: url(../images/nav-slide-3.png) !important; }
      .banner-slider .owl-nav button.owl-next {
        background-position: right center !important; }
      .banner-slider .owl-nav button span {
        display: none; }
  .banner-slider .owl-num-custom {
    position: absolute;
    z-index: 9;
    right: 41px;
    bottom: 92px;
    background-color: #fff;
    width: 50px;
    height: 50px; }
    @media (max-width: 767px) {
      .banner-slider .owl-num-custom {
        bottom: 203px; } }
    .banner-slider .owl-num-custom:after {
      content: '';
      position: absolute;
      display: block;
      width: 1px;
      height: 18px;
      background: #000;
      margin: auto;
      z-index: 100;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .banner-slider .owl-num-custom li {
      position: absolute;
      font-family: 'utm_gods_word';
      font-size: 12px;
      line-height: 1em;
      color: #222; }
    .banner-slider .owl-num-custom .index-item {
      top: 12px;
      left: 10px; }
    .banner-slider .owl-num-custom .total-item {
      bottom: 14px;
      right: 10px; }

.item-banner-slider {
  position: relative; }
  .item-banner-slider .item-img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover; }
    .item-banner-slider .item-img img {
      opacity: 0; }

/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both; }

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both; }

@-webkit-keyframes scaleUpFrom {
  from {
    opacity: 0;
    -webkit-transform: scale(1.5); } }

@-moz-keyframes scaleUpFrom {
  from {
    opacity: 0;
    -moz-transform: scale(1.5); } }

@keyframes scaleUpFrom {
  from {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }

@-webkit-keyframes scaleUpTo {
  to {
    opacity: 0;
    -webkit-transform: scale(1.5); } }

@-moz-keyframes scaleUpTo {
  to {
    opacity: 0;
    -moz-transform: scale(1.5); } }

@keyframes scaleUpTo {
  to {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }

.click-to-shop .link-to-shop {
  width: 212px;
  height: 212px;
  background: url(../images/bopflorist_logo2.gif) no-repeat;
  display: inline-block;
  margin-top: -130px;
  position: relative;
  z-index: 9; }

.lasted-post .section-wrap {
  padding-top: 50px; }

.latest-post-content [class^="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.item-flower {
  min-height: 0;
  cursor: pointer;
  position: relative;
  margin: 15px 0; }
  .item-flower:hover .icon {
    opacity: 1;
    top: 0; }
  .item-flower:hover .mark {
    height: 100%;
    opacity: .7; }
  .item-flower:hover .caption {
    background-color: #949c38; }
    .item-flower:hover .caption .big, .item-flower:hover .caption .lasted-price {
      color: #fff; }
  .item-flower:hover .view {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); }
  .item-flower:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 99; }
  .item-flower .image-wrap {
    position: relative;
    height: 285px;
    overflow: hidden; }
    .item-flower .image-wrap img {
      width: 300px;
      -o-object-fit: contain;
      object-fit: contain;
      height: 285px; }
  .item-flower .icon {
    position: absolute;
    height: 60px;
    margin: auto;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    opacity: 0; }
  .item-flower .view {
    display: inline-block;
    width: 33px;
    height: 33px;
    border: 3px solid #c7ab7c;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }
    .item-flower .view .icons {
      font-size: 18px;
      color: #c7ab7c; }
  .item-flower .mark {
    position: absolute;
    width: 100%;
    height: 60%;
    background-color: #fff;
    opacity: 0;
    bottom: 0;
    left: 0;
    z-index: 5; }
  .item-flower .caption {
    padding: 20px; }
    .item-flower .caption .big {
      color: #4c4c4c;
      font-size: 22px;
      margin-bottom: 0; }
      @media (max-width: 767px) {
        .item-flower .caption .big {
          font-size: 20px; } }
      @media (max-width: 413px) {
        .item-flower .caption .big {
          font-size: 16px; } }
      @media (max-width: 359px) {
        .item-flower .caption .big {
          font-size: 14px; } }
    .item-flower .caption .lasted-price {
      font-size: 18px;
      color: #d15176; }
      @media (max-width: 767px) {
        .item-flower .caption .lasted-price {
          font-size: 16px; } }
      @media (max-width: 413px) {
        .item-flower .caption .lasted-price {
          font-size: 15px; } }

.services .aw-section {
  margin-top: 50px; }

@media (min-width: 1200px) {
  .services .owl-item:nth-child(odd) .caption-sv {
    top: 0; } }

@media (min-width: 1200px) {
  .services .owl-item:nth-child(even) .caption-sv {
    bottom: 0; } }

.services .owl-carousel .owl-nav {
  margin-top: 40px; }
  .services .owl-carousel .owl-nav .owl-prev, .services .owl-carousel .owl-nav .owl-next {
    font-size: 0;
    width: 36px;
    height: 36px;
    border: 1px solid #c7ab7b;
    border-radius: 50%;
    margin: 0 5px;
    background: url(../images/nav-slide-2.png) no-repeat -8px center; }
    .services .owl-carousel .owl-nav .owl-prev:hover, .services .owl-carousel .owl-nav .owl-next:hover {
      border: 1px solid #373737;
      background-image: url(../images/nav-slide-1.png); }
  .services .owl-carousel .owl-nav .owl-next {
    background-position: -58px center; }

.list-services {
  margin: 60px 0; }
  .list-services a {
    text-decoration: none; }

.item-services {
  position: relative; }
  .item-services .image-sv {
    position: relative;
    text-align: center; }
    .item-services .image-sv:after {
      content: '';
      display: block;
      position: absolute;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid #fff;
      width: 95%;
      height: 95%;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
      @media (max-width: 767px) {
        .item-services .image-sv:after {
          display: none; } }
    .item-services .image-sv img {
      width: 100%; }
  .item-services .caption-sv {
    line-height: 1;
    position: absolute;
    left: 0; }
    @media (max-width: 1199px) {
      .item-services .caption-sv {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 20px; } }
    @media (max-width: 767px) {
      .item-services .caption-sv {
        top: 10px; } }
    .item-services .caption-sv .number-item-sv, .item-services .caption-sv .name-item-sv {
      background: #fff; }
    .item-services .caption-sv .number-item-sv {
      font-size: 25px;
      color: #c7ab7b;
      display: inline-block;
      margin-bottom: 0;
      padding: 0 12px 10px; }
    .item-services .caption-sv .name-item-sv {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 22px;
      padding: 0 12px;
      line-height: 1.5; }

@media (max-width: 767px) {
  .about .title {
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .about .title h2 br {
    display: none; } }

@media (min-width: 1200px) {
  .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.about-content .about-video, .about-content .about-content-text {
  width: 100%; }
  @media (min-width: 1200px) {
    .about-content .about-video, .about-content .about-content-text {
      width: 50%; } }

@media (min-width: 1200px) {
  .about-content .about-video {
    padding-right: 10px; } }

@media (min-width: 768px) {
  .about-content .about-content-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 540px; } }

.about-content .about-content-text h5 {
  font-size: 21px;
  line-height: 30px;
  padding-right: 40px; }

.about-content .about-content-text .about-text-des {
  text-align: justify;
  font-size: 14px;
  color: #4c4c4c; }

@media (min-width: 768px) {
  .about-content .about-content-text .text-wrap, .about-content .about-content-text .about-to-contact {
    width: 50%; } }

.about-content .about-content-text .text-wrap {
  padding-left: 10px; }
  @media (min-width: 768px) {
    .about-content .about-content-text .text-wrap {
      padding-right: 20px; } }

.about-to-contact {
  position: relative;
  padding: 0 20px;
  background: #E3D1A2;
  background: -webkit-gradient(linear, left bottom, left top, from(#E3D1A2), to(#fdeed1));
  background: -o-linear-gradient(bottom, #E3D1A2 0%, #fdeed1 100%);
  background: linear-gradient(to top, #E3D1A2 0%, #fdeed1 100%);
  background: -moz-linear-gradient(to top, #E3D1A2 0%, #fdeed1 100%);
  background: -o-linear-gradient(to top, #E3D1A2 0%, #fdeed1 100%);
  background: -ms-linear-gradient(to top, #E3D1A2 0%, #fdeed1 100%);
  background: -webkit-linear-gradient(bottom, #E3D1A2 0%, #fdeed1 100%); }
  @media (max-width: 767px) {
    .about-to-contact {
      display: block;
      width: 100%;
      height: auto;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-top: 20px; } }
  .about-to-contact a {
    display: block;
    position: relative;
    width: 240px;
    height: 240px;
    margin: auto;
    border: 1px solid #c7ab7b;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center; }
    .about-to-contact a .text-italic {
      position: absolute;
      display: table;
      width: 160px;
      height: 160px;
      border: 1px solid #c7ab7b;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      margin: auto;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .about-to-contact a .text-italic h6 {
        display: table-cell;
        vertical-align: middle;
        font-size: 20px;
        line-height: 1.2em;
        color: #b29563;
        padding: 20px; }
  .about-to-contact .text-ci {
    width: 220px;
    height: 220px !important;
    font-size: 16px;
    color: #c7ab7b;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 10px; }
  .about-to-contact .text-ci-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .about-to-contact .line {
    position: absolute;
    width: 60%;
    height: 1px;
    background-color: #c7ab7b;
    margin: auto;
    left: 0;
    right: 0; }
    .about-to-contact .line:after {
      content: '';
      display: block;
      position: absolute;
      width: 4px;
      height: 4px;
      background-color: #c7ab7b;
      margin: auto;
      left: 0;
      right: 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
  .about-to-contact .line-1 {
    top: 25%; }
    .about-to-contact .line-1:after {
      top: -2px; }
  .about-to-contact .line-2 {
    bottom: 25%; }
    .about-to-contact .line-2:after {
      bottom: -2px; }

.newsletter #awe-subcribe {
  padding-top: 50px;
  padding-bottom: 100px; }
  @media (max-width: 479px) {
    .newsletter #awe-subcribe {
      padding-top: 20px;
      padding-bottom: 20px; } }

.newsletter-title h3 {
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 25px; }
  @media (max-width: 1199px) {
    .newsletter-title h3 {
      line-height: 40px; } }

.newsletter-title .sub-desc {
  color: #3c3d38; }

.newsletter-form {
  position: relative;
  max-width: 380px;
  margin-top: 130px;
  margin-bottom: 30px; }
  @media (max-width: 1199px) {
    .newsletter-form {
      margin-top: 35px;
      margin-bottom: 30px; } }
  .newsletter-form input {
    font-size: 16px;
    font-family: 'utm_gods_word';
    line-height: 46px;
    height: 46px;
    padding: 0 12px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #9f9485;
    color: #9f9485; }
    .newsletter-form input::-webkit-input-placeholder {
      color: #9f9485;
      font-style: italic; }
    .newsletter-form input:-ms-input-placeholder {
      color: #9f9485;
      font-style: italic; }
    .newsletter-form input::-ms-input-placeholder {
      color: #9f9485;
      font-style: italic; }
    .newsletter-form input::placeholder {
      color: #9f9485;
      font-style: italic; }
    .newsletter-form input::-ms-input-placeholder {
      color: #9f9485;
      font-style: italic; }
    .newsletter-form input::-ms-input-placeholder {
      color: #9f9485;
      font-style: italic; }
  .newsletter-form .subcribe-btn {
    border-left: 1px solid #9f9485;
    position: absolute;
    width: 60px;
    height: 46px;
    text-align: center;
    top: 0;
    right: 0;
    cursor: pointer; }
    .newsletter-form .subcribe-btn i {
      font-size: 28px;
      color: #61625c; }
  .newsletter-form .subcribe-status {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 1.7em;
    margin: 10px auto 0;
    max-width: 612px;
    padding: 0 15px; }

.social-content {
  margin-top: 112px; }
  @media (max-width: 1199px) {
    .social-content {
      margin-top: 60px;
      text-align: center; } }
  .social-content .link-social-content {
    position: relative; }
    .social-content .link-social-content .follow-text, .social-content .link-social-content .contact-text {
      font-size: 8px; }
    .social-content .link-social-content .contact-text {
      position: absolute;
      bottom: -8px;
      left: 50%;
      -webkit-transform: translateX(-50%) rotate(180deg);
      -ms-transform: translateX(-50%) rotate(180deg);
      transform: translateX(-50%) rotate(180deg); }
  .social-content .social-icon {
    position: relative;
    display: inline-block;
    width: 93px;
    height: 90px;
    padding: 2px 0 0;
    margin: 10px 10px;
    background-repeat: no-repeat;
    background-image: url(../images/line-social.png);
    background-size: 93px auto;
    border-radius: 50%; }
    @media (max-width: 413px) {
      .social-content .social-icon {
        margin: 2px; } }
    @media (max-width: 359px) {
      .social-content .social-icon {
        margin: 0; } }
    .social-content .social-icon i {
      position: absolute;
      display: block;
      text-align: center;
      border: 1px solid #c7ab7b;
      color: #c7ab7b;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      line-height: 60px;
      font-size: 28px; }
      .social-content .social-icon i.icon-facebook:hover {
        color: #3b5998; }
      .social-content .social-icon i.icon-instagram:hover {
        color: #ac2cb1; }
      .social-content .social-icon i.icon-yelp:hover {
        color: #d32323; }

#awe-contact {
  background-image: url(../images/banner-child/slide-1.jpg);
  min-height: 400px;
  padding: 75px 0;
  position: relative; }
  #awe-contact:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); }

@media (min-width: 768px) {
  .contact-row .ct-left {
    padding-right: 10px; } }

@media (min-width: 768px) {
  .contact-row .ct-right {
    padding-left: 10px; } }

.contact-address {
  font-size: 16px; }
  @media (max-width: 767px) {
    .contact-address {
      margin-bottom: 30px; } }
  .contact-address aside {
    border: 1px solid #FFF;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 35px 20px;
    height: 511px; }
    @media (max-width: 767px) {
      .contact-address aside {
        height: auto; } }
  .contact-address a {
    color: #000; }
  .contact-address h4 {
    margin-top: 0; }
  .contact-address .txt-shop {
    font-size: 28px; }
  .contact-address .txt-street {
    font-size: 18px; }

.contact-form-data {
  padding: 55px 38px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #FFF; }
  @media (max-width: 767px) {
    .contact-form-data {
      padding: 40px 20px; } }
  .contact-form-data form input, .contact-form-data form textarea {
    font-family: 'utm_gods_word';
    color: #000;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #fff;
    background: none;
    font-size: 16px; }
    .contact-form-data form input::-webkit-input-placeholder, .contact-form-data form textarea::-webkit-input-placeholder {
      color: #373737; }
    .contact-form-data form input:-ms-input-placeholder, .contact-form-data form textarea:-ms-input-placeholder {
      color: #373737; }
    .contact-form-data form input::-ms-input-placeholder, .contact-form-data form textarea::-ms-input-placeholder {
      color: #373737; }
    .contact-form-data form input::placeholder, .contact-form-data form textarea::placeholder {
      color: #373737; }
    .contact-form-data form input::-ms-input-placeholder, .contact-form-data form textarea::-ms-input-placeholder {
      color: #373737;
      font-style: italic; }
    .contact-form-data form input::-ms-input-placeholder, .contact-form-data form textarea::-ms-input-placeholder {
      color: #373737;
      font-style: italic; }
  .contact-form-data form input {
    height: 27px;
    border: none;
    border-bottom: 1px solid #FFF;
    margin-bottom: 50px; }
  .contact-form-data form textarea {
    margin-top: 20px;
    resize: none;
    height: 127px;
    padding: 10px; }
  .contact-form-data form button {
    font-family: 'utm_gods_word';
    font-size: 18px;
    margin-top: 20px;
    height: 58px;
    width: 215px; }
    .contact-form-data form button:hover {
      background-color: #333;
      border: none; }

.pagination ul {
  text-align: center; }
  .pagination ul li {
    display: inline-block;
    margin: 0 3px; }
    .pagination ul li:hover a, .pagination ul li.active a {
      text-decoration: none;
      color: #ffffff;
      background: #5f4c2e;
      border: 1px solid #5f4c2e; }
    .pagination ul li a {
      display: block;
      width: 40px;
      height: 40px;
      border: 1px solid #5f4c2e;
      line-height: 40px;
      color: #5f4c2e;
      font-size: 14px;
      border-radius: 5px;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }

.banner-image {
  position: relative;
  overflow: hidden; }
  .banner-image .bg-banner-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    width: 100%;
    height: 730px;
    top: 0;
    left: 0;
    z-index: -1; }
  .banner-image .bg-banner-product {
    background-image: url(../images/banner-child/slide-1.jpg); }

.flower-content {
  margin-top: 60px;
  margin-bottom: 50px; }

.filters {
  padding: 0;
  border: 6px solid #c7ab7b;
  width: 82%;
  margin-bottom: 45px; }
  @media (max-width: 479px) {
    .filters {
      width: 100%; } }
  .filters li {
    display: inline-block; }
    .filters li a {
      position: relative;
      display: block;
      font-family: 'utm_gods_word';
      font-size: 17px;
      text-align: center;
      padding: 0 19px;
      font-weight: 700;
      text-transform: uppercase;
      color: #696969;
      line-height: 40px; }
      .filters li a:hover, .filters li a.select-filter {
        color: #c7ab7b;
        text-decoration: none; }

.flower-item {
  cursor: pointer;
  margin: 15px 0; }
  @media (max-width: 479px) {
    .flower-item {
      width: 49% !important; } }
  .flower-item:hover .mark {
    opacity: .7;
    height: 100%; }
  .flower-item:hover .caption {
    background-color: #949c38; }
    .flower-item:hover .caption h4, .flower-item:hover .caption .sw-price {
      color: #fff; }
  .flower-item:hover .icon-custom {
    opacity: 1; }
    .flower-item:hover .icon-custom i:hover {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg); }
  .flower-item .link-flower-item {
    display: block;
    overflow: hidden;
    position: relative;
    width: 280px;
    height: 450px;
    margin: 0 auto;
    max-width: 100%; }
    @media (max-width: 479px) {
      .flower-item .link-flower-item {
        height: 260px; } }
  .flower-item .flower-img {
    height: 74%;
    width: auto;
    left: 0;
    top: 5%;
    right: 0;
    margin: 0 auto; }
    @media (max-width: 479px) {
      .flower-item .flower-img {
        height: 50%; } }
  .flower-item .mark {
    position: absolute;
    width: 100%;
    height: 70%;
    background: #fff;
    left: 0;
    bottom: 0;
    opacity: 0; }
  .flower-item .icon-custom {
    position: absolute;
    height: 33px;
    margin: auto;
    top: -150px;
    bottom: 0;
    opacity: 0;
    width: 100%;
    z-index: 9;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }
    .flower-item .icon-custom i {
      display: inline-block;
      width: 33px;
      height: 33px;
      border: 3px solid #c9ae80;
      border-radius: 50%;
      font-size: 18px;
      margin: 3px;
      -webkit-transition: all .3s linear;
      -o-transition: all .3s linear;
      transition: all .3s linear; }
  .flower-item .caption {
    background-color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px 5px;
    z-index: 9;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }
    .flower-item .caption h4 {
      color: #4c4c4c;
      font-size: 22px;
      overflow: hidden;
      line-height: 36px;
      width: 100%;
      height: 36px;
      padding: 0;
      margin: 0; }
    .flower-item .caption .sw-price {
      font-size: 16px;
      margin-bottom: 0;
      color: #d15176; }

.single-product .post-image {
  overflow: hidden; }
  .single-product .post-image img {
    height: auto;
    max-width: 100%;
    width: auto;
    -o-object-fit: contain !important;
    object-fit: contain !important;
    max-height: 500px; }

.single-product .product-title {
  font-size: 24px;
  text-transform: uppercase; }

.single-product .price {
  font-size: 20px;
  color: #d15176; }

.single-product form.cart {
  margin-bottom: 20px; }

.single-product .wrap-qty .input-qty {
  min-width: 197px;
  width: 80%; }

.single-product .product-meta .product-sku {
  padding-right: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #3a3a3a; }

.blog-list .row {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.post-single {
  position: relative;
  margin-bottom: 80px; }
  @media (max-width: 767px) {
    .post-single h3 {
      line-height: 35px; } }
  .post-single .post-title {
    font-size: 32px;
    margin-bottom: 43px;
    color: #4e4e4d;
    font-weight: 600;
    line-height: 40px; }
    @media (max-width: 767px) {
      .post-single .post-title {
        font-size: 30px; } }
  .post-single .post-image {
    position: relative; }
    .post-single .post-image img {
      width: auto;
      -o-object-fit: contain !important;
      object-fit: contain !important;
      max-height: 500px; }
  .post-single .post-date {
    position: absolute;
    width: 90px;
    top: 0;
    left: 0;
    border-right: 5px solid #c7ab7b;
    text-align: center;
    font-size: 16px;
    color: #c7ab7b; }
    .post-single .post-date .post-day {
      font-family: 'Open Sans', sans-serif;
      font-size: 60px;
      font-weight: 600;
      line-height: 0.7em; }
      .post-single .post-date .post-day:after {
        content: '';
        display: block;
        background: url(../images/line-pattern-6.png) no-repeat;
        width: 65px;
        height: 15px;
        margin: 6px auto; }
  .post-single .post-info {
    color: #c7ab7c; }
    .post-single .post-info span {
      color: #4c4b4b; }
  .post-single .post-short-content {
    margin-top: 20px;
    font-size: 16px;
    line-height: 31px;
    color: #4c4b4b; }
  .post-single .post-control .read-more {
    position: relative;
    display: inline-block;
    line-height: 38px;
    margin-top: 22px;
    background: #5f4c2e;
    padding: 7px 19px;
    color: #fff;
    font-size: 16px; }
    .post-single .post-control .read-more:after {
      content: '';
      display: block;
      position: absolute;
      border-top: 1px solid #c7ab7c;
      width: 100%;
      top: 0;
      left: 0;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
    .post-single .post-control .read-more:hover:after {
      top: 100%; }

@media (min-width: 1200px) {
  .post-short-content img {
    max-width: 70%; } }

.cart-page .newsletter {
  background: #e2e2e2; }

.cart-empty .return-to-shop .btn-back {
  background-color: #c7ab7b;
  color: #FFF;
  font-size: 15px;
  display: inline-block;
  min-width: 197px;
  height: 46px;
  line-height: 46px;
  padding: 0 15px;
  font-style: italic; }

.cart-body {
  font-size: 17px;
  margin-top: 20px;
  font-weight: 300;
  line-height: 1.7;
  color: #4c4c4c; }

@media (max-width: 767px) {
  .shopping-cart-table {
    width: 100%; } }

.shopping-cart-table thead tr {
  border-bottom: 1px solid #4d4d4d; }
  .shopping-cart-table thead tr th {
    vertical-align: bottom;
    padding: 9px 12px; }

@media (max-width: 767px) {
  .shopping-cart-table thead {
    display: none; } }

.shopping-cart-table tr th {
  color: #4c4c4c; }

.shopping-cart-table tr .td-small {
  font-size: 20px; }
  @media (max-width: 767px) {
    .shopping-cart-table tr .td-small {
      font-size: 14px; } }

.shopping-cart-table tr .big {
  font-size: 35px; }
  @media (max-width: 767px) {
    .shopping-cart-table tr .big {
      font-size: 20px;
      padding: 0 10%;
      width: 50%; } }

.shopping-cart-table tbody tr {
  border-bottom: 1px solid #cbcaca; }
  .shopping-cart-table tbody tr td {
    padding: 30px 0;
    vertical-align: middle; }
    @media (max-width: 767px) {
      .shopping-cart-table tbody tr td {
        padding: 0;
        margin: 0;
        width: 100%;
        display: block; } }

.cart-item {
  font-weight: 400; }
  @media (max-width: 767px) {
    .cart-item .cart-remove {
      padding: 0;
      margin-top: 5px; } }
  .cart-item .cart-remove a.remove {
    display: block;
    font-size: 18px;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 1.1;
    border-radius: 100%;
    color: red;
    text-decoration: none;
    border: 0;
    padding: 0 6px; }
    @media (max-width: 767px) {
      .cart-item .cart-remove a.remove {
        height: 30px;
        width: 30px;
        line-height: 1.3;
        margin: 0 auto;
        background: #eae5e5; } }
    .cart-item .cart-remove a.remove:hover {
      color: #fff;
      background: red; }
  .cart-item .cart-image {
    width: 24.2032730405%; }
    @media (max-width: 767px) {
      .cart-item .cart-image {
        width: 100%;
        text-align: center; } }
    .cart-item .cart-image img {
      height: 150px;
      max-width: 100%; }
  .cart-item .cart-name {
    width: 22.9112833764%;
    padding-left: 15px; }
    @media (max-width: 767px) {
      .cart-item .cart-name {
        width: 100%;
        text-align: center;
        padding-left: 0; } }
    .cart-item .cart-name a {
      color: #656565; }
      .cart-item .cart-name a:hover {
        text-decoration: underline; }
    .cart-item .cart-name .cart-sku {
      font-weight: 600; }
      @media (max-width: 767px) {
        .cart-item .cart-name .cart-sku {
          width: 100%;
          text-align: center; } }
    .cart-item .cart-name:hover .cart-sku {
      color: #c7ab7b; }
  .cart-item .cart-price {
    width: 15.7769164513%;
    font-size: 20px;
    color: #c7ab7b; }
    @media (max-width: 767px) {
      .cart-item .cart-price {
        width: 100%;
        text-align: center; } }
  .cart-item .cart-qty {
    width: 23.5142118863%; }
    @media (max-width: 767px) {
      .cart-item .cart-qty {
        width: 100%;
        text-align: center; } }
    .cart-item .cart-qty input {
      text-align: center;
      width: 30%;
      border: 1px solid #c7ab7b;
      padding: 0 12px;
      font-size: 15px;
      height: 36px; }
      @media (max-width: 767px) {
        .cart-item .cart-qty input {
          width: 16%; } }
  .cart-item .cart-total {
    width: 12.5943152455%;
    font-size: 20px;
    color: #c7ab7b; }
    @media (max-width: 767px) {
      .cart-item .cart-total {
        width: 100%;
        text-align: center; } }

.checkout-box .submit {
  border: 0;
  cursor: pointer;
  background-color: #c7ab7b;
  padding: 0 15px;
  min-width: 340px;
  height: 58px;
  line-height: 1;
  font-size: 20px;
  color: #fff;
  font-style: italic; }
  @media (max-width: 767px) {
    .checkout-box .submit {
      text-align: left;
      margin-top: 20px; } }
  @media (max-width: 479px) {
    .checkout-box .submit {
      width: 100%;
      min-width: 0;
      text-align: center; } }

.checkout-box .btn-update {
  float: right; }
  @media (max-width: 767px) {
    .checkout-box .btn-update {
      float: none; } }

@media (max-width: 767px) {
  .cont-shop {
    margin-bottom: 30px; } }

.price-total {
  font-weight: 400; }
  .price-total td, .price-total th {
    padding: 10px 20px 10px 0;
    font-size: 15px;
    text-align: left; }
  .price-total .price-total, .price-total .price-tax {
    font-weight: 400;
    padding-left: 60px;
    color: #c7ab7b;
    font-size: 20px; }
    @media (max-width: 767px) {
      .price-total .price-total, .price-total .price-tax {
        font-size: 18px; } }
  .price-total .note-cart {
    margin-top: 20px; }
  .price-total .checkout-box {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .price-total .checkout-box .btn-checkout {
      text-align: center; }

.billing-fields .panel-title {
  font-size: 18px; }

.billing-fields .form-group {
  padding: 3px;
  margin: 0 0 6px; }
  .billing-fields .form-group label {
    color: #4c4c4c;
    font-size: 15px;
    text-transform: uppercase; }
  .billing-fields .form-group input {
    border: 0;
    border-bottom: 1px solid #e5e5e5; }

.shop-cart-checkout {
  color: #4c4c4c;
  font-size: 16px; }
  .shop-cart-checkout thead tr th {
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .shop-cart-checkout tbody tr td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.search-item {
  position: relative;
  float: left;
  width: 25%;
  margin-top: 20px;
  margin-bottom: 20px; }
  @media (max-width: 1199px) {
    .search-item {
      width: 33.33333%; } }
  @media (max-width: 767px) {
    .search-item {
      width: 50%; } }
  .search-item:hover .mark {
    height: 100%;
    opacity: .7; }
  .search-item:hover .caption-search {
    background-color: #949c38; }
  .search-item img {
    height: 235px;
    -o-object-fit: contain;
    object-fit: contain; }
  .search-item .mark {
    position: absolute;
    width: 100%;
    height: 60%;
    background-color: #fff;
    opacity: 0;
    bottom: 0;
    left: 0;
    z-index: 5; }
    .search-item .mark .icon {
      margin-top: 100px; }
      .search-item .mark .icon .icons {
        font-size: 35px; }
  .search-item .caption-search {
    padding: 20px;
    float: left;
    width: 100%; }
    .search-item .caption-search h4 {
      margin: 0;
      font-size: 22px;
      line-height: 1.3; }
      @media (max-width: 767px) {
        .search-item .caption-search h4 {
          font-size: 18px; } }

.page-not-found h1 {
  line-height: 1;
  font-size: 150px;
  margin-top: 0;
  color: #c7ab7b; }

.page-not-found h3 {
  font-size: 28px;
  margin-top: 0;
  line-height: 1.5; }
  @media (max-width: 767px) {
    .page-not-found h3 {
      font-size: 21px; } }

.page-not-found .text-not-found {
  font-size: 16px; }
  @media (max-width: 767px) {
    .page-not-found .text-not-found {
      font-size: 14px; } }
  .page-not-found .text-not-found a:hover {
    text-decoration: underline; }

.page-not-found .btn-back-home {
  background: #c7ab7b;
  border-radius: 35px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  padding: 0 30px; }

.pp-flower {
  position: relative;
  background-color: #fff;
  max-width: 900px;
  margin: 0 auto; }
  .pp-flower .item {
    max-height: 500px;
    text-align: center; }
  .pp-flower img {
    height: 500px;
    -o-object-fit: contain;
    object-fit: contain; }
  .pp-flower .pp-content {
    position: relative;
    padding: 19px 20px 51px 20px; }
  .pp-flower h4 {
    font-size: 18px;
    color: #373737;
    line-height: 1; }
    .pp-flower h4 a {
      color: #373737; }
  .pp-flower .fv-price {
    font-size: 24px;
    font-style: italic;
    color: #c7ab7b; }
  .pp-flower .suk-propup {
    float: left;
    font-size: 15px;
    color: #292626; }
    .pp-flower .suk-propup .sku-wrapper {
      padding-right: 20px;
      font-size: 20px;
      font-weight: 600;
      color: #3a3a3a; }
  .pp-flower .add-to-cart {
    position: absolute;
    margin: auto;
    top: 50%;
    right: 20px;
    float: none;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .pp-flower .add-to-cart a {
      display: inline-block;
      min-width: 197px;
      height: 46px;
      padding: 0 15px;
      font-size: 16px;
      line-height: 46px;
      color: #fff;
      text-align: center;
      background: #c7ab7b; }
  .pp-flower .mfp-close {
    right: 0;
    margin: 0;
    font-size: 0;
    top: 0;
    min-width: 179px;
    height: 42px;
    opacity: 1;
    background: #c7ab7b url(../images/pp-close.png) no-repeat center center; }

/* 

====== Zoom effect ======

*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  .mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-zoom-in.mfp-removing .mfp-with-anim {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0; }
  .mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0; }

/*# sourceMappingURL=main.css.map */