.checkout-content {
  margin-bottom: 30px;
}
.billing-fields {
	.panel-title {
		font-size: 18px;
	}
	.form-group {
    padding: 3px;
    margin: 0 0 6px;
    label {
    	color: #4c4c4c;
	    font-size: 15px;
	    text-transform: uppercase;
    }
    input {
    	border: 0;
	    border-bottom: 1px solid #e5e5e5;
    }
	}
}

.info-cart-checkout {

}
.shop-cart-checkout {
  color: #4c4c4c;
  font-size: 16px;
	thead {
		tr {
			th {
				font-weight: 700;
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			}
		}
	}
	tbody {
		tr {
			td {
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			}
		}
	}
}