.our-flower {

}

.flower-content {
  margin-top: 60px;
	margin-bottom: 50px;
}

.filters {
  padding: 0;
  border: 6px solid #c7ab7b;
  width: 82%;
  margin-bottom: 45px;
  @include device_max(480) {
  	width: 100%;
	}
  li {
  	display: inline-block;
  	a {
	    position: relative;
	    display: block;
	    font-family: 'utm_gods_word';
	    font-size: 17px;
	    text-align: center;
	    padding: 0 19px;
	    font-weight: 700;
	    text-transform: uppercase;
	    color: #696969;
	    line-height: 40px;
	    &:hover, &.select-filter {
	    	color: #c7ab7b;
	    }
	    // &:hover {
	    // 	color: #c7ab7b;
	    // }

  	}
  }
  // .select-filter {
  // 	a {
  // 		color: #c7ab7b;
  // 	}
  // }
}

.flower-filter {

}

.flower-item {
	cursor: pointer;
	margin: 15px 0;
	// border-bottom: #c7ab7c 1px solid;
	@include device_max(480) {
		width: 49% !important;
	}
	&:hover {
		.mark {
	    opacity: .7;
	    height: 100%;
		}
		.caption {
	    background-color: #949c38;
	    h4, .sw-price {
	    	color: #fff;
	    }
		}
		.icon-custom {
			opacity: 1;
			i {
				&:hover {
					transform: rotate(360deg);
				}
			}
		}
	}
	.link-flower-item {
		display: block;
    overflow: hidden;
    position: relative;
    width: 280px;
    height: 450px;
    margin: 0 auto;
    max-width: 100%;
    @include device_max(480) {
			height: 260px;
		}
	}
	.flower-img {
		height: 74%;
    width: auto;
    left: 0;
    top: 5%;
    right: 0;
    margin: 0 auto;
    @include device_max(480) {
			height: 50%;
		}
	}
	.mark {
    position: absolute;
    width: 100%;
    height: 70%;
    background: #fff;
    left: 0;
    bottom: 0;
    opacity: 0;
	}
	.icon-custom {
		position: absolute;
    height: 33px;
    margin: auto;
    top: -150px;
    bottom: 0;
    opacity: 0;
    width: 100%;
    z-index: 9;
    transition: all .3s linear;
    i {
	    display: inline-block;
	    width: 33px;
	    height: 33px;
	    border: 3px solid #c9ae80;
	    border-radius: 50%;
	    font-size: 18px;
	    margin: 3px;
	    transition: all .3s linear;
    }
	}
	.caption {
		background-color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px 5px;
    z-index: 9;
    transition: all .3s linear;
    h4 {
    	color: #4c4c4c;
    	// color: #7bc100;
    	font-size: 22px;
	    overflow: hidden;
	    line-height: 36px;
	    width: 100%;
      height: 36px;
      padding: 0;
      margin: 0;	
    }
    .sw-price {
			font-size: 16px;
			margin-bottom: 0;	
			// color: #7bc100;
			color: #d15176;
    }
	}
}