.search-content {

}
.flower-search-content {

}
.search-item {
	position: relative;
	float: left;
	width: 25%;
	margin-top: 20px;
	margin-bottom: 20px;
	@include device_max(large) {
		width: 33.33333%;
	}
	@include device_max(small) {
		width: 50%;
	}
	&:hover {
		.mark {
	    height: 100%;
	    opacity: .7;
		}
		.caption-search {
			// background-color: #949c38;
			background-color: #80825a;
		}
	}
	img {
		height: 235px;
    object-fit: contain;
	}
	.mark {
		position: absolute;
    width: 100%;
    height: 60%;
    background-color: #fff;
    opacity: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    .icon {
    	margin-top: 100px;
    	.icons {
    		font-size: 35px;
    	}
    }
	}
	.caption-search {
    padding: 20px;
    float: left;
    width: 100%;
    // height: 95px;
    h4 {
    	margin: 0;
	    font-size: 22px;
      line-height: 1.3;
	    @include device_max(small) {
				font-size: 18px;
			}
    }
	}
}