
.single-product {
	.product-image {
		.slick-arrow {
	    position: absolute;
	    top: 50%;
      transform: translate(0, -50%);
      width: 30px;
	    height: 30px;
	    line-height: 30px;
	    text-align: center;
	    background: #ddd;
	    color: #fff;
	    z-index: 9;
	    opacity: 0;
	    cursor: pointer;
	    transition: all 0.3s ease-in-out;
      font-size: 0;
      font-family: "icons";
      &:hover {
  	    background: #cfb08b;
      }
      &:before {
      	font-size: 16px;
      }
		}
		.slick-prev {
			left: 7.5px;
			&:before {
				content: '\e809';
			}
		}
		.slick-next {
			right: 7.5px;
			&:before {
				content: '\e80a';
			}
		}
	}
}
.product-list-image {
	.list-image-big {
    border: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: calc(100% - 15px);
		.item-image-big {
			img {
				width: 100%;
		    object-fit: contain;
		    height: 500px;
		    @include device_max(480) {
			    height: 400px;
			  }
			  @include device_max(360) {
			    height: 300px;
			  }
			}
		}
	}
	.list-image-small {
		&:hover {
			.slick-arrow {
				opacity: 1;
			}
		}
		.item-image-small {
			border: 1px solid #ddd;
			margin: 0 7.5px;
			img {
				width: 100%;
		    object-fit: contain;
		    height: 120px;
		    @include device_max(480) {
			    height: 100px;
			  }
			  @include device_max(360) {
			    height: 80px;
			  }
			}
		}
	}
}

.product-detail-info {
	.product-name {

	}
	.text-detail {
		font-size: 16px;
	}
	.price-detail {
		font-weight: 600;
		color: #ff5151;
		font-size: 20px;
	}
	.product-quantity-action {
    align-items: center;
		.txt-quantity {
			margin-right: 10px;
			font-weight: 600;
		}
		.form-product-quantity {
			input {
		    width: 60px;
    		height: 40px;
			}
		}
	}
}